{% extends "_base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}

  {% if model.complyError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "You must confirm that you agree to comply with the terms and conditions of the Standard Forestry Operations licence.",
          href: "#comply-error"
        }
      ]
    }) }}
  {% endif %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

  <form method="post">
    {{ govukCheckboxes({
      idPrefix: "comply",
      name: "comply",
      fieldset: {
        legend: {
          text: "Please confirm that you agree to comply with the terms and conditions of the Standard Forestry Operations licence",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      errorMessage: {
        text: "You must confirm that you agree to comply with the terms and conditions of the Standard Forestry Operations licence."
      } if model.complyError,
      items: [
        {
          value: "yes",
          text: "I agree to comply with the terms and conditions of the Standard Forestry Operations licence",
          checked: model.comply === true
        }
      ]
    }) }}


        <p class="govuk-body">
          These conditions include that your works will only be carried out between 1 July and 30 November and that there will be no vehicular access or heavy machinery used within 20 metres of a badger sett.
        </p>
        <p class="govuk-body">
          A copy of the licence can be found <a class="govuk-link" href="http://gateway.snh.gov.uk/go/?id=29">here</a>.
        </p>

        {{ govukWarningText({
          text:
            "There is a reporting requirement upon completion of the works (see condition 17).",
          iconFallbackText: "Warning"
        }) }}

    {{ govukButton({
      text: "Continue",
      classes: "naturescot-forward-button"
    }) }}

      </div>
    </div>

  </form>
{% endblock %}
