{% extends "_base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}

{% if model.complyError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Something went wrong when submitting your application - Try again.",
          href: "#comply-error"
        } if model.apiError,
        {
          text: "You must confirm that you have provided up to date information and agree with the licence conditions and privacy policy.",
          href: "#comply-error"
        } if model.complyError
      ]
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl">
    Check your answers
  </h1>

  <h2 class="govuk-heading-m">
    Licence Holder details
  </h2>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Name"
        },
        value: {
          text: model.fullName
        },
        actions: {
          items: [
            {
              href: pathPrefix + "/details#full-name",
              text: "Change",
              visuallyHiddenText: "name"
            }
          ]
        }
      },
      {
        key: {
          text: "Organisation"
        },
        value: {
          text: model.companyOrganisation
        },
        actions: {
          items: [
            {
              href: pathPrefix + "/details#company-organisation",
              text: "Change",
              visuallyHiddenText: "company or organisation"
            }
          ]
        }
      },
      {
        key: {
          text: "Email address"
        },
        value: {
          text: model.emailAddress
        },
        actions: {
          items: [
            {
              href: pathPrefix + "/details#email-address",
              text: "Change",
              visuallyHiddenText: "email address"
            }
          ]
        }
      },
      {
        key: {
          text: "Phone Number"
        },
        value: {
          text: model.phoneNumber
        },
        actions: {
          items: [
            {
              href: pathPrefix + "/details#phone-number",
              text: "Change",
              visuallyHiddenText: "contact details"
            }
          ]
        }
      },
      {
        key: {
          text: "Address"
        },
        value: {
          text: model.addressLine1
        },
        actions: {
          items: [
            {
              href: pathPrefix + "/postcode#address-postcode",
              text: "Change",
              visuallyHiddenText: "contact information"
            }
          ]
        },
        classes: "naturescot-summary-list__condensed-first-row"
      },
      {
        key: {
          text: ""
        },
        value: {
          text: model.addressLine2
        },
        classes: "naturescot-summary-list__condensed-row"
      },
      {
        key: {
          text: ""
        },
        value: {
          text: model.addressTown
        },
        classes: "naturescot-summary-list__condensed-row"
      },
      {
        key: {
          text: ""
        },
        value: {
          text: model.addressCounty
        },
        classes: "naturescot-summary-list__condensed-row"
      },
      {
        key: {
          text: ""
        },
        value: {
          text: model.addressPostcode
        },
        classes: "naturescot-summary-list__condensed-last-row"
      },
      {
        key: {
          text: "Criminal Convictions"
        },
        value: {
          text: "I have not been convicted of a wildlife crime." if model.conviction === false
        },
        actions: {
          items: [
            {
              href: pathPrefix + "/conviction#conviction",
              text: "Change",
              visuallyHiddenText: "convictions"
            }
          ]
        }
      }
    ]
  }) }}

  <h2 class="govuk-heading-m">
    Site details
  </h2>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Setts"
        },
        value: {
          html: model.displaySetts
        },
        actions: {
          items: [
            {
              href: pathPrefix + "/site-location#sett-details",
              text: "Change",
              visuallyHiddenText: "setts"
            }
          ]
        }
      }
    ]
  }) }}

  <h2 class="govuk-heading-m">
    Declaration
  </h2>

  <h3 class="govuk-heading-s">
    I confirm that:
  </h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>The information I've provided is up to date and correct</li>
    <li>I agree to comply with the
      <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="{{pathPrefix}}/licence-conditions">
        licence conditions&nbsp;(opens in new tab)
      </a>
    </li>
    <li>I agree with the
      <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="/cross-service-pages/privacy-policy">
        privacy policy&nbsp;(opens in new tab)</a>
        of this service
    </li>
  </ul>

  <form method="post">
    {{ govukCheckboxes({
    idPrefix: "comply",
    name: "comply",
    fieldset: {
      legend: {
        text: "Yes, I confirm",
        classes: "govuk-fieldset__legend--s"
      }
    },
    errorMessage: {
        text: "You must confirm that the information you have submitted is correct and that you agree with the licence conditions and privacy policy."
      } if model.complyError,
      items: [
        {
          value: "yes",
          text: "Yes, I confirm",
          checked: model.comply === true
        }
    ]
    }) }}

    {{ govukButton({
      text: "Accept and send",
      classes: "naturescot-forward-button"
    }) }}
  </form>
{% endblock %}
