{% extends "_base.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block head %}
  {{ super() }}
  <style>
    #crimeExplanations .govuk-accordion__controls {
      display: none;
    }

    dd.govuk-summary-list__value table.govuk-table tbody tr:last-child *
    {
      border-bottom: unset;
    }
  </style>
{% endblock %}

{% block content %}
  <form method="post">
    <h1 class="govuk-heading-xl">
      Check your answers before sending your application
    </h1>

    <h2 class="govuk-heading-m">
      Application details
    </h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Criminal Convictions"
          },
          value: {
            text: "I have not been convicted of a wildlife crime." if model.conviction === false
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/conviction#conviction",
                text: "Change",
                visuallyHiddenText: "convictions"
              }
            ]
          }
        },
        {
          key: {
            text: "Comply with Terms"
          },
          value: {
            text: "I agree to comply with the terms and conditions of the Standard Forestry Operations licence." if model.comply
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/comply#comply",
                text: "Change",
                visuallyHiddenText: "agreement to comply with the terms and conditions"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">
      Personal details
    </h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: model.fullName
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/details#full-name",
                text: "Change",
                visuallyHiddenText: "name"
              }
            ]
          }
        },
        {
          key: {
            text: "Company or Organisation"
          },
          value: {
            text: model.companyOrganisation
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/details#company-organisation",
                text: "Change",
                visuallyHiddenText: "company or organisation"
              }
            ]
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: model.displayAddress
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/details#address-line-1",
                text: "Change",
                visuallyHiddenText: "contact information"
              }
            ]
          }
        },
        {
          key: {
            text: "Contact details"
          },
          value: {
            html: model.displayContact
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/details#phone-number",
                text: "Change",
                visuallyHiddenText: "contact details"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">
      Site details
    </h2>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Site name"
          },
          value: {
            text: model.siteName
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/site-location#site-name",
                text: "Change",
                visuallyHiddenText: "site name"
              }
            ]
          }
        },
        {
          key: {
            text: "Setts"
          },
          value: {
            html: model.displaySetts
          },
          actions: {
            items: [
              {
                href: pathPrefix + "/site-location#sett-details",
                text: "Change",
                visuallyHiddenText: "setts"
              }
            ]
          }
        }
      ]
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">
          Now send your application
        </h2>

        <p class="govuk-body">
          It is your responsibility to ensure that the information you have provided
          is correct before sending this application.
        </p>

        <p class="govuk-body">
          By submitting this application you confirm that you are wanting to fell or
          harvest between 1 July and 30 November and that there will be no vehicular
          access or heavy machinery used within 20 metres of a badger sett.
        </p>

        {{ govukWarningText({
          text: "If you are convicted of a wildlife crime you must inform us.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukAccordion({
          id: "crimeExplanations",
              items: [
                {
                  heading: {
                    text: "What is a wildlife crime?"
                  },
                  content: {
                    html: '' +
                    '<p class="govuk-body">' +
                    '  "Wildlife crime" means any offence under' +
                    '  the Wildlife &amp; Countryside Act 1981,' +
                    '  the Conservation (Natural Habitats &amp;c.) Regulations 1994,' +
                    '  the Protection of Badgers Act 1992,' +
                    '  the Protection of Wild Mammals (Scotland) Act 2002,' +
                    '  Deer (Scotland) Act 1996,' +
                    '  Agriculture (Scotland) Act 1948,' +
                    '  the Animal Health &amp; Welfare (Scotland) Act 2006,' +
                    '  the Protection of Animals (Scotland) Act 1912' +
                    '  and' +
                    '  the Wild Mammals (Protection) Act 1996' +
                    '  (all as amended).' +
                    '</p>'
                  },
                  expanded: false
                },
                {
                  heading: {
                    text: "What does convicted mean?"
                  },
                  content: {
                    html: '' +
                    '<p class="govuk-body">'+
                    '  "Convicted" means convicted of a wildlife crime on or after 1 January 2015 unless,' +
                    '  in respect of that offence, they are a rehabilitated person (for the purposes of ' +
                    '  the Rehabilitation of Offenders Act 1974 and that conviction is spent), or a court ' +
                    '  discharged them absolutely.' +
                    '</p>' +
                    '<p class="govuk-body">' +
                    '  Any person not able to use the Standard Forestry Operations licence can still apply ' +
                    '  for an individual licence.' +
                    '</p>'
                  },
                  expanded: false
                }
              ]
        })}}

      </div>
    </div>

    {{ govukButton({
      text: "Accept and send",
      classes: "naturescot-forward-button"
    }) }}

  </form>
{% endblock %}
