{% extends "_base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}
  <h1 class="govuk-heading-xl">
    You are eligible to apply for a Standard Forestry Operations licence
  </h1>

  <p class="govuk-body">
    Based on your answers, you are eligible to apply for a Standard Forestry
    Operations licence for forestry operations within 20 metres of a badger sett
    between 1 July and 30 November.
  </p>

  <form method="post">
    {{ govukButton({
      text: "Continue",
      classes: "naturescot-forward-button"
    }) }}
  </form>
{% endblock %}
