{% extends "_base.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% block content %}
  {{ govukPanel({
    titleHtml: "Details received",
    html: "We have received your details and we will be in contact"
  }) }}

  <p class="govuk-body">
    We will contact you when the service to apply for a licence on behalf of another becomes available.
  </p>

  <p class="govuk-body">
    If you need assistance with your application, contact the NatureScot Licensing Team.
  </p>

  <h3 class="govuk-heading-s">Email</h3>
  <ul class="govuk-list">
    <li><a class="govuk-link" href="mailto:licensing@nature.scot">licensing@nature.scot</a></li>
  </ul>
  <h3 class="govuk-heading-s">Telephone</h3>
  <ul class="govuk-list">
    <li>01463 725 364</li>
    <li>Monday to Friday, 10am to 4pm (except public holidays)</li>
  </ul>
  <p class="govuk-body">
    <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.gov.uk/call-charges">Find out about call charges&nbsp;(opens in new tab)</a>
  </p>

  <p class="govuk-body">
    <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">What do you think of this service?&nbsp;(opens in new tab)</a>
    (takes 30 seconds)
  </p>
{% endblock %}
