{% extends "_base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}

  {% if model.otherEmailError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Enter your email address",
          href: "#email-address-error"
        } if model.otherEmailError
      ]
    }) }}
  {% endif %}

  <form method="post">

      {{ govukInput({
        label: {
          text: "What is your email address?",
          isPageHeading: true,
          classes: "govuk-label--xl"
        },
        hint: {
          html:
            "You cannot apply on behalf of another at this time. " +
            "Please enter your email address below and we will contact you " +
            "when that service is available. " +
            "If you need to apply on behalf of someone else, but works can't "+
            "wait for the changes to the online application, please use the "+
            "<a class=\"govuk-link\" rel=\"noreferrer noopener\" target=\"_blank\" href=\"http://gateway.snh.gov.uk/go/?id=33\"> " +
            "SFO application form found here&nbsp;(opens in new tab)" +
            "</a> " +
            "in the meantime."
        },
        classes: "govuk-!-width-one-half",
        id: "email-address",
        name: "emailAddress",
        value: model.otherEmailAddress,
        errorMessage: {
          text: "Enter your email address"
        } if model.otherEmailError
      }) }}

    {{ govukButton({
      text: "Continue",
      classes: "naturescot-forward-button"
    }) }}
  </form>
{% endblock %}
