{% extends "_base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}

  {% if model.settDetailsError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Enter a Sett ID",
          href: "#current-sett-id-error"
        } if model.currentSettIdError,
        {
          text: "Enter a Grid Reference",
          href: "#current-grid-reference-error"
        } if model.currentGridReferenceError,
        {
          text: "Choose a sett type",
          href: "#current-sett-type-error"
        } if model.currentSettTypeError,
        {
          text: "Enter the number of Entrances",
          href: "#current-entrances-error"
        } if model.currentEntrancesError
      ]
    }) }}
  {% endif %}

  <form method="post">

    {% call govukFieldset({
      legend: {
        text: "What are the sett details?",
        classes: "govuk-fieldset__legend--xl",
        isPageHeading: true
      }
    }) %}

      {{ govukInput({
        label: {
          text: "Sett ID"
        },
        classes: "govuk-!-width-one-half",
        id: "current-sett-id",
        name: "currentSettId",
        value: model.currentSettId,
        errorMessage: {
          text: "Enter a Sett ID"
        } if model.currentSettIdError,
        attributes: {
          spellcheck: "false"
        }
      }) }}

      {{ govukInput({
        label: {
          text: "Grid Reference"
        },
        classes: "govuk-!-width-one-half",
        id: "current-grid-reference",
        name: "currentGridReference",
        value: model.currentGridReference,
        errorMessage: {
          text: "Enter a Grid Reference"
        } if model.currentGridReferenceError,
        attributes: {
          spellcheck: "false"
        }
      }) }}

      {{ govukRadios({
        idPrefix: "current-sett-type",
        name: "currentSettType",
        fieldset: {
          legend: {
            text: "Sett type",
            isPageHeading: false,
            classes: "govuk-label"
          }
        },
        errorMessage: {
          text: "Choose a sett type"
        } if model.currentSettTypeError,
        items: [
          {
            value: "1",
            text: "Main Sett",
            checked: model.currentSettType === 1
          },
          {
            value: "2",
            text: "Outlying Sett",
            checked: model.currentSettType === 2
          },
          {
            value: "3",
            text: "Annex Sett",
            checked: model.currentSettType === 3
          },
          {
            value: "4",
            text: "Subsidiary Sett",
            checked: model.currentSettType === 4
          }
        ]
      }) }}


      {{ govukInput({
        label: {
          text: "Number of Entrances"
        },
        classes: "govuk-!-width-one-half",
        id: "current-entrances",
        name: "currentEntrances",
        value: model.currentEntrances,
        errorMessage: {
          text: "Enter the number of Entrances"
        } if model.currentEntrancesError,
        attributes: {
          spellcheck: "false"
        }
      }) }}

    {% endcall %}

    {{ govukButton({
      text: "Continue",
      classes: "naturescot-forward-button"
    }) }}
  </form>
{% endblock %}
