{% extends "_base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
  <h1 class="govuk-heading-xl">
    Standard Forestry Operations
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Use this service to apply for a Standard Forestry Operations licence if you are felling or harvesting within 20 metres of a badger sett,
         which is in current use, between 1st July and 30th November.
      </p>


      <p class="govuk-body"> First make sure that your works meet the
          <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="{{pathPrefix}}/licence-conditions">
            licence conditions&nbsp;(opens in new tab).
          </a>
      </p>

      <p class="govuk-body">If your works will not meet the conditions, you must apply for a <a class="govuk-link" rel="noreferrer noopener" href="https://www.nature.scot/doc/badgers-licence-forms-and-guidance-documents">
        non-standard SFO licence.</a>
      </p>

      <h2 class="govuk-heading-m">
        Who can apply?
      </h2>

      <p class="govuk-body">
          The applicant must be the person in charge of carrying out or overseeing the works, for example the Forestry Manager.
      </p>
      <p class="govuk-body">
        If the application is approved, the applicant will be the licence holder.
      </p>

      {{ govukWarningText({
        text: "The licence holder is liable to criminal proceedings if the conditions of the licence are not met. This could include imprisoment or a fine.",
        iconFallbackText: "Warning"
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Continue",
          classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8 naturescot-forward-button",
          isStartButton: true
        }) }}
      </form>

      <p class="govuk-body">
        If you need assistance with your application, contact the NatureScot Licensing Team.
      </p>


      <h3 class="govuk-heading-s">
        Email
      </h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="mailto:licensing@nature.scot">
            licensing@nature.scot
          </a>
        </li>
        <li>
          We aim to respond within 2 working days.
        </li>
      </ul>

      <h3 class="govuk-heading-s">
        Telephone
      </h3>

      <ul class="govuk-list">
        <li>
          01463 725 364
        </li>
        <li>
          Voicemail service. We aim to respond within 2 working days.
        </li>
      </ul>

      <p class="govuk-body">
        <a class="govuk-link" href="https://www.gov.uk/call-charges">
          Find out about call charges
        </a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      {{ govukAccordion({
        id: "startBadgerExplanations",
        items: [
          {
            heading: {
              text: "What is a badger sett?"
            },
            content: {
              html:
                '<p class="govuk-body">' +
                "  'Badger sett' means any structure or place which displays " +
                '  signs indicating current use by a badger.'+
                '</p>'
            },
            expanded: false
          },
          {
            heading: {
              text: "What is current use?"
            },
            content: {
              html:
                '<p class="govuk-body">' +
                '  The presence of field signs such as bedding, fresh spoil ' +
                '  heaps, signs of recent digging, hair, latrines, or ' +
                '  footprints in or around the potential sett or evidence of ' +
                '  badgers entering or exiting the structure or place in ' +
                "  question would indicate 'current use' of the structure / " +
                '  place by a badger.' +
                '</p>'
            },
            expanded: false
          }
        ]
      })}}
      <a class="govuk-link govuk-link--no-visited-state govuk-!-font-size-16" href="#top-of-page">
        Back to top
      </a>
    </div>
  </div>

{% endblock %}
