{% extends "_base.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% block content %}
  {{ govukPanel({
    titleHtml: "Application complete<br>",
    html: "Your reference number is<br><strong>" + model.licenceNo + "</strong>"
  }) }}

  <h2 class="govuk-heading-m">
    What happens next
  </h2>

  <p class="govuk-body">
    You will be sent an email containing your licence.
  </p>

  <p class="govuk-body">
    You must comply with the conditions of your licence.<br><br>
    You must submit a return within one month of works being completed using   <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="https://www.nature.scot/doc/licence-return-form-badger-standard-forestry-operations">
        this form</a> (opens in new tab)
  </p>

  <!-- The page content -->
  <p class="govuk-body">Please make sure you keep a record of:</p>

  <!-- Add a list  -->
  <ul class="govuk-list govuk-list--bullet">
    <li>the dates the works were undertaken</li>
    <li>a clear photograph of one sett before works commence</li>
    <li>a clear photograph of the same sett as soon as works are completed clearly showing the protection zone</li>
    <li>whether the licence conditions were met</li>
  </ul>

<p class="govuk-body">If you need to get in touch contact the NatureScot Licensing Team, quoting your reference number.</p>

  <h3 class="govuk-heading-s">
    Email
  </h3>

  <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="mailto:licensing@nature.scot">
        licensing@nature.scot
      </a>
    </li>
    <li>
      We aim to respond within 2 working days.
    </li>
  </ul>

  <h3 class="govuk-heading-s">
    Telephone
  </h3>

  <ul class="govuk-list">
    <li>
      01463 725 364
    </li>
    <li>
      Voicemail service. We aim to respond within 2 working days.
    </li>
  </ul>

  <p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/call-charges">
      Find out about call charges
    </a>
  </p>

{% endblock %}
